<html lang="en">
<head>
    <!-- <meta> tags> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>JWT Auth Demo</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">JWT login Demo</a>
    </nav>
    <div class="card">
        <div class="card-body">
            <div class="card-header">
                {{!-- <a class="navbar-brand" href="/loginform">login</a> --}}
                <a class="navbar-brand" href="/comments">comments</a>
            </div>
        </div>
    </div>

    <div class="container">
        {{{body}}}
    </div>

</body>
</html>
